<legend>Coupons</legend>

<label class="name four columns alpha">
  <span>Enter Coupon Code</span>
  <input type="text" id="couponField"/>
  <button type="button" id="addCouponButton">Apply</button>
</label>
<br class="clear">

{{#each coupons}}
<div class="couponRemove one column omega">
  <button type="button" class="btnRemove removeCouponButton" id='couponRemove_{{@index}}'>x</button>
</div>
<label class="name four columns alpha">
  <span class="bold">{{couponCode}}</span>
</label>
<br class="clear">
{{/each}}