{{#if showButtons}}
  <span class="credentials-main-buttons four columns alpha">
    <button type="button" class="btnLogin" id="btnLoginShow">Login</button>
    <button type="button" class="btnRegister" id="btnRegisterShow">Register</button>
  </span>
{{/if}}
{{#if showLogout}}
  <span class="credentials-main-buttons four columns alpha">
    <button type="button" class="btnLogout" id="btnLogoutSubmit">Logout</button>
  </span>
{{/if}}

{{#if showLogin}}
<label class="login-email three columns alpha">
  <span>Email Address:</span>
  <input type="text" class='credentialField' id="loginEmail" name="login[email]" value=""/>
</label>
<label class="login-password three columns alpha">
  <span>Password:</span>
  <input type="password" class='credentialField' id="loginPassword" name="login[password]" value=""/>
</label>
  <span class="four columns alpha">
    <button type="button" class="btnLogin" id="btnLoginSubmit">Login</button>
    <button type="button" class="btnCancel">Cancel</button>
  </span>
{{/if}}

{{#if showRegister}}
<label class="register-email three columns alpha">
  <span>Email Address:</span>
  <input type="text" class='credentialField' id="registerEmail" name="register[email]" value=""/>
</label>
<label class="register-password three columns alpha">
  <span>Password:</span>
  <input type="password" class='credentialField' id="registerPassword" name="register[password]" value=""/>
</label>
  <span class="four columns alpha">
    <button type="button" class="btnRegister" id="btnRegisterSubmit">Register</button>
    <button type="button" class="btnCancel">Cancel</button>
  </span>
{{/if}}