<legend>Gift Certificate</legend>

<label class="name four columns alpha">
  <span>Enter Gift Certificate</span>
  <input type="text" id="giftCertificateField"/>
  <button type="button" id="updateGiftCertificateButton">{{#if giftCertificate}}Remove{{else}}Apply{{/if}}</button>
</label>
<br class="clear">

{{#if hasGiftCertificateAmount}}
<span class='giftCertificateSpan'>Amount Applied:</span><span class='giftCertificateButtonSpan'><span
  class='giftCertificateSummary'>{{giftCertificateAmount}}</span></span>
<br class="clear">
{{/if}}
{{#if giftCertificateRemainingBalanceAfterOrder}}
<span class='giftCertificateSpan'>Remaining Balance:</span><span class='giftCertificateButtonSpan'><span
  class='giftCertificateSummary'>{{giftCertificateRemainingBalanceAfterOrder}}</span></span>
<br class="clear">
{{/if}}